from django.http import JsonResponse
from .models import {{ models|map(attribute='name')|join(', ') }}
{% for view in views %}
{{ view.function_imports }}
{% endfor %}

{% for view in views %}
def {{ view.function_name }}(request{% if view.urlpatterns_path|extract_path_parameters != '' %}, {{view.urlpatterns_path|extract_path_parameters }}{% endif %}):
    """
    {{ view.function_documentation }}
    """
{{ view.function_body }}
    
{% endfor %}
